header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    min-width: 1vw;
    padding: 12px 24px;
}

div#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    min-width: 35%;
}

div#navbar a{
    color: var(--off-white);
    text-decoration: none;
}

div#navbar a hr{
    color: var(--neon-green);
    margin-top: 1px;
    visibility: hidden;
}

header img {
    height: 24px;
    height: 24px;
}
